// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header-satin {
  position: relative;

  a {
    &.grey-hover {
      display: flex;
      align-items: center;
      height: 100%;
      text-align: center;
      transition: $transition-time ease;

      &:hover {
        background: rgba(239, 239, 239, 1);
      }
    }
  }
}

.header {
  &--fixed {
    position: fixed;
    z-index: 20;

    top: 0;
    left: 50%;
    width: 100%;
    opacity: 1;

    transform: translateY(-50%);
    transition: 0.3s all;
  }

  &__wrapper {
    @include breakpoint($breakpoint-laptop) {
      grid-template-columns: 2.5fr 1fr 2.5fr;
    }
    @include breakpoint($breakpoint-notebook) {
      grid-template-columns: 2fr 1.5fr 2fr;
    }
    @include breakpoint($breakpoint-tablet-big) {
      grid-template-columns: 1fr 2fr 2fr;
    }
    @include breakpoint($breakpoint-tablet) {
      grid-template-columns: 0.5fr 2fr 2fr;
    }
    @include breakpoint($breakpoint-mobile) {
      grid-template-columns: 1fr 3fr 1.5fr;
      height: 50px;
      min-height: 50px;
    }

    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;
    min-height: 88px;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
    transition: 0.5s ease;

    &--fixed {
      // @include breakpoint($breakpoint-mobile) {
      //   top: -59px;
      // }

      position: fixed;
      z-index: 20;
      // top: -88px;

      top: -50px;
      left: 0;
      width: 100%;
      background: $palette-white;
      transform: translateY(100%);
      transition: 0.5s ease;
    }
  }

  &__menu {
    @include breakpoint($breakpoint-laptop) {
      padding-left: 20px;
    }
    @include breakpoint($breakpoint-notebook) {
      padding-left: 10px;
    }
    @include breakpoint($breakpoint-tablet-big) {
      display: none;
    }

    height: 100%;
    padding-left: 42px;

    .catalog-menu {
      ul {
        margin: 0;
        color: $color-text__primary;
        font-weight: 500;
        font-size: 19px;
        line-height: 23.16px;

        li {
          position: initial;
          margin: 0;

          &::before {
            display: none;
          }
        }

        li:not(:first-child) {
          padding-top: 18px;
        }

        &:first-child {
          font-weight: 600;
          text-transform: uppercase;

          li:not(:first-child) {
            padding-top: 22px;
          }
        }
      }

      &__title {
        display: block;
        padding-bottom: 15px;
        font-weight: 600;
      }
    }
  }

  &__line {
    margin-top: 79px;
    border-top: 1px solid rgba(232, 232, 232, 1);
  }

  &__menu-mobile {
    @include breakpoint($breakpoint-laptop) {
      // padding-right: 20px;
      // padding-left: 20px;
    }

    position: absolute;
    z-index: -10;
    top: 0;
    left: -500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: auto;
    height: 100%;
    padding: 0;
    // border-top: 1px solid rgba(232, 232, 232, 1);

    background: $palette-white;
    opacity: 0;
    transition: 0.6s ease;

    .menu-mobile {
      padding: 0 27px 40px 15px;

      & > ul > li {
        margin: 4px 0 4px 8px;
        color: rgba(89, 89, 89, 1);
        font-weight: 400;
        font-size: 15px;
        font-family: $font-default;
        line-height: 18.29px;
        text-transform: uppercase;

        & > a {
          color: rgba(89, 89, 89, 1);
        }

        &::before {
          display: none;
        }
      }

      .ac {
        margin: 0;
        border: none;

        &::before {
          display: none;
        }

        & > .ac-header > .ac-trigger {
          padding: 9px 32px 9px 8px;
          color: rgba(89, 89, 89, 1);
          font-weight: 400;
          font-size: 15px;
          font-family: $font-default;
          line-height: 18.29px;
          text-transform: uppercase;

          &::after {
            content: "";
            width: 9px;
            height: 17px;
            background-image: url("data:image/svg+xml,%3Csvg width='11' height='19' viewBox='0 0 11 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L9.5 9.5L1 18' stroke='%23ADADAD'/%3E%3C/svg%3E");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transition: $transition-time ease;
          }
        }

        &.is-active > .ac-header > .ac-trigger::after {
          top: 10px;
          transform: rotate(90deg);
        }

        & .ac .ac-trigger {
          padding: 0;
          font-weight: 500;
          font-size: 13px;
          line-height: 15.85px;
          // text-transform: none;

          &::after {
            content: "";
            width: 9px;
            height: 17px;
            background-image: url("data:image/svg+xml,%3Csvg width='11' height='19' viewBox='0 0 11 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L9.5 9.5L1 18' stroke='%23ADADAD'/%3E%3C/svg%3E");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            transition: $transition-time ease;
          }
        }

        & .ac.is-active .ac-header > .ac-trigger::after {
          top: 0;
          // transform: rotate(90deg);
        }

        & > .ac-panel > .ac-text {
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding-left: 15px;
          color: rgba(89, 89, 89, 1) !important;
          font-weight: 500;
          font-size: 13px;
          font-family: $font-default;
          line-height: 15.85px;

          & > li {
            margin: 0;

            & > a {
              color: rgba(89, 89, 89, 1) !important;
              text-transform: none;
            }

            &::before {
              display: none;
            }
          }
        }
      }
    }

    &--overlay {
      position: fixed;
      z-index: 20;
      top: 0;
      left: 0;
      display: none;
      width: 100%;
      height: 1000%;
      // background: rgba(255, 255, 255, 0.5);

      background: rgba(58, 67, 74, 0.7);
      opacity: 0;
      // backdrop-filter: blur(1px);

      &.is-active {
        display: block;
        opacity: 1;
      }
    }

    // .nav__list {
    //   flex-direction: column;
    //   gap: 10px;

    //   a {
    //     color: rgba(0, 103, 102, 1);
    //     font-weight: 600;
    //     font-size: 18px;
    //     line-height: 21.94px;
    //   }
    // }

    &.is-active {
      z-index: 20;
      left: 0;
      height: auto;
      // padding: 65px 70px 50px 37px;

      opacity: 1;
      // transition: 0.8s ease;

      // .nav__list {
      //   flex-direction: column;
      //   gap: 10px;

      //   a {
      //     color: rgba(0, 103, 102, 1);
      //     font-weight: 600;
      //     font-size: 18px;
      //     line-height: 21.94px;
      //   }
      // }
    }
  }

  &__burger {
    @include breakpoint($breakpoint-tablet-big) {
      z-index: 20;
      display: block;
    }
    @include breakpoint($breakpoint-mobile) {
      .hamburger-box {
        width: 18px;
        height: 14px;
      }

      .hamburger-inner::before {
        top: -7px;
      }

      .hamburger-inner::after {
        bottom: -7px;
      }
    }

    display: none;
    padding-left: 20px;
  }

  &__logo {
    justify-self: center;
    padding: 0 20px;
  }

  &__right {
    @include breakpoint($breakpoint-laptop) {
      padding-right: 30px;
    }
    @include breakpoint($breakpoint-notebook) {
      padding-right: 20px;
    }
    @include breakpoint($breakpoint-tablet-big) {
      padding-right: 10px;
    }

    display: flex;
    // gap: 20px;

    align-items: center;
    justify-self: end;
    height: 100%;
    padding-right: 60px;
  }

  &__callback {
    @include breakpoint($breakpoint-tablet) {
      display: none;
    }

    height: 100%;
    white-space: nowrap;

    a {
      @include breakpoint($breakpoint-laptop) {
        font-size: 15px;
      }
      @include breakpoint($breakpoint-notebook) {
        padding: 0;
      }

      padding: 0 10px;

      &:hover {
        color: $link-hover-color;
      }
    }
  }

  &__callmenu {
    @include breakpoint($breakpoint-laptop) {
      margin-right: 40px;


    }
    @include breakpoint($breakpoint-notebook) {
      margin-right: 20px;


    }
    @include breakpoint($breakpoint-tablet) {
      margin-right: 0;
    }

    height: 100%;
    margin-right: 87px;



    a.grey-hover {
      position: relative;
      padding: 0 10px;
    }

    .phone-button {
      @include breakpoint($breakpoint-tablet) {
        height: 20px;
      }

      position: relative;
      transition: $transition-time ease;
    }

    .phone-button-active {
      @include breakpoint($breakpoint-tablet) {
        height: 20px;
      }

      position: absolute;
      z-index: 1;
      // top: 0;
      // left: 0;

      opacity: 0;
      visibility: hidden;
      transition: $transition-time ease;
    }

    &:hover {
      .phone-button {
        z-index: -1;
        opacity: 0;
      }

      .phone-button-active {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__basket,
  &__search {
    height: 100%;

    a {
      padding: 0 10px;
    }
  }

  &__search {
    // order: 1;

    ul > li {
      margin: 0;
    }

    a.grey-hover {
      position: relative;
    }

    .search-button {
      @include breakpoint($breakpoint-tablet) {
        height: 20px;
      }

      position: relative;
      transition: $transition-time ease;
    }

    .search-button-active {
      @include breakpoint($breakpoint-tablet) {
        height: 20px;
      }

      position: absolute;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: $transition-time ease;
    }

    &:hover {
      .search-button {
        z-index: -1;
        opacity: 0;
      }

      .search-button-active {
        opacity: 1;
        visibility: visible;
      }
    }

    .search-form {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      background: $palette-white;

      input,
      button {
        border: none;
        outline: none;
      }

      input {
        width: 160px;
        margin: 0;
        background: $palette-white;
      }

      button {
        background: transparent;
        cursor: pointer;
      }
    }
  }

  &__basket {
    position: relative;
    // order: 2;

    .basket-goods {
      position: absolute;
      top: 33%;
      right: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #beb1a5;
      color: $color-text__white;
      font-size: 8px;
      line-height: 11.2px;
    }

    a.grey-hover {
      position: relative;
    }

    .basket-button {
      @include breakpoint($breakpoint-tablet) {
        height: 20px;
      }

      position: relative;
      transition: $transition-time ease;
    }

    .basket-button-active {
      @include breakpoint($breakpoint-tablet) {
        height: 20px;
      }

      position: absolute;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: $transition-time ease;
    }

    &:hover {
      .basket-button {
        z-index: -1;
        opacity: 0;
      }

      .basket-button-active {
        opacity: 1;
        visibility: visible;
      }

      .basket-goods {
        background: $color-text__active;
      }
    }
  }

  &__login {
    @include breakpoint($breakpoint-laptop) {
      font-size: 15px;
    }
    @include breakpoint($breakpoint-notebook) {
      p {
        display: none;
      }
    }
    @include breakpoint($breakpoint-mobile) {
      display: none;
    }

    height: 100%;

    a {
      display: flex;
      gap: 9px;
      align-items: center;
      padding: 0 10px;
    }

    a.grey-hover {
      position: relative;
    }

    .login-button {
      position: relative;
      transition: $transition-time ease;
    }

    .login-button-active {
      position: absolute;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      transition: $transition-time ease;
    }

    &:hover {
      .login-button {
        z-index: -1;
        opacity: 0;
      }

      .login-button-active {
        opacity: 1;
        visibility: visible;
      }

      a.grey-hover {
        color: $link-hover-color;
      }
    }

    &--mobile {
      p {
        display: block;
      }
    }
  }
}
