// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  a {
    &.grey-hover {
      display: flex;
      align-items: center;
      height: 100%;
      transition: $transition-time ease;

      &:hover {
        background: rgba(239, 239, 239, 1);
      }
    }
  }
}

.header {
  &--fixed {
    position: fixed;
    z-index: 20;

    top: 0;
    left: 50%;
    width: 100%;
    opacity: 1;

    transform: translateY(-50%);
    transition: .3s all;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    align-items: center;
    height: 79px;
    border-bottom: 1px solid rgba(232, 232, 232, 1);
    transition: .5s ease;

    &--fixed {
      position: fixed;
      z-index: 20;
      top: -79px;
      left: 0;
      width: 100%;
      background: $palette-white;
      transform: translateY(100%);
      transition: .5s ease;
    }
  }

  &__menu {
    height: 100%;
    padding-left: 42px;

    .catalog-menu {
      ul {
        color: $color-text__primary;
        font-weight: 500;
        font-size: 19px;
        line-height: 23.16px;

        li:not(:first-child) {
          padding-top: 18px;
        }

        &:first-child {
          font-weight: 600;
          text-transform: uppercase;

          li:not(:first-child) {
            padding-top: 22px;
          }
        }
      }

      &__title {
        display: block;
        padding-bottom: 15px;
        font-weight: 600;
      }

    }

  }

  &__logo {
    justify-self: center;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-self: end;
    height: 100%;
    padding-right: 60px;
  }

  &__callback {
    height: 100%;

    a {
      padding: 0 40px;
    }
  }

  &__callmenu {
    height: 100%;
    margin-right: 87px;

    a {
      padding: 0 12px;
    }
  }

  &__basket,
  &__search {
    height: 100%;

    a {
      padding: 0 7px;
    }
  }

  &__basket {
    position: relative;

    .basket-goods {
      position: absolute;
      top: 33%;
      right: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: rgba(91, 91, 91, 1);
      color: $color-text__white;
      font-size: 8px;
      line-height: 11.2px;
    }

  }


  &__login {
    height: 100%;

    a {
      display: flex;
      gap: 9px;
      align-items: center;
      padding: 0 17px;
    }
  }
}
