// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav-satin {
  .nav__list {
    display: flex;
    height: 100%;
  }

  .nav__item {
    margin: 0;

    &::before {
      display: none;
    }
  }

  .nav__link {
    display: flex;
    transition: $transition-time ease;
  }

  &.nav--header {
    height: 100%;

     .nav__item {
      height: 100%;

      &.current {
        background: rgba(239, 239, 239, 1);
      }

      .nav__link {
        @include breakpoint($breakpoint-notebook) {
          padding: 0 6px;
        }

        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 18px;
        text-align: center;

        &:hover, &:focus, &:active {
          background: rgba(239, 239, 239, 1);
        }
      }
    }
  }

  &.nav--footer {
    @include breakpoint($breakpoint-mobile) {
      display: none;

      &.is-active {
        display: block;
        padding: 0 0 15px 15px;
      }
    }



    .nav__list {
      flex-direction: column;
      gap: 12px;
    }

    .nav__item {
    }

    .current > .nav__link {
      color: rgba(195, 195, 195, 1);
    }

    .nav__link {
      @include breakpoint($breakpoint-mobile) {
        font-weight: 400;
        font-size: 13px;
        line-height: 15.85px;
      }

      color: $color-text__white;
      font-weight: 600;
      font-size: 17px;
      line-height: 20.72px;

      &:hover {
        color: rgba(195, 195, 195, 1);
      }
    }
  }
}
