#about {
  .container {
    @include breakpoint($breakpoint-notebook) {
      padding: 66px 0 0 30px;
    }
    @include breakpoint($breakpoint-tablet-big) {
      padding: 60px 0 0 20px;
    }
    @include breakpoint($breakpoint-tablet) {
      padding: 40px 0 0 20px;
    }
    @include breakpoint($breakpoint-mobile) {
      padding: 40px 20px 0;
    }

    max-width: 100%;
    padding: 80px 0 0 60px;
  }
}

.about {
  &__wrapper {
    @include breakpoint($breakpoint-mobile) {
      grid-template-columns: 1fr;
    }

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;

    picture {
      @include breakpoint($breakpoint-mobile) {
        display: none;
      }

      max-height: 780px;
    }
  }

  &__title {
    @include breakpoint($breakpoint-mobile) {
      padding-bottom: 18px;
    }

    padding-bottom: 30px;
  }

  &__text {
    font-size: 15px;
    line-height: 22.5px;

    p {
      padding-bottom: 15px;
    }
  }

      /* Стили для текстового поля с кнопкой "Развернуть" */
      .ac {
        border: none;
      }

      .ac-header {
        display: inline-flex;
        width: auto;

      }

      .ac-trigger {
        padding: 0;
        color: rgba(154, 154, 154, 1);
        font-weight: 400;
        font-size: 15px;
        line-height: 18.29px;

        &::after {
          display: none;
        }

        span.close {
          display: none;
        }
      }

      .is-active {
        .ac-trigger {
          span.open {
            display: none;
          }

          span.close {
            display: block;
            padding: 0;
            color: rgba(154, 154, 154, 1);
            font-weight: 400;
            font-size: 15px;
            line-height: 18.29px;
          }
        }

      }

      .ac-text {
        padding: 10px 0 0 !important;
        color: rgba(51, 51, 51, 1) !important;
        font-size: 15px !important;
        font-family: $font-default !important;
        line-height: 22.5px !important;

        p {
          padding-bottom: 15px;
        }
      }

      .button {
        @include breakpoint($breakpoint-notebook) {
          margin-bottom: 20px;
        }

        margin-top: 55px;
      }
}
