#best-offers {
  .container {
    @include breakpoint($breakpoint-tablet-big) {
      padding: 60px 30px;
    }
    @include breakpoint($breakpoint-tablet-big) {
      padding: 40px 20px;
    }
    @include breakpoint($breakpoint-mobile) {
      padding: 96px 20px 40px;
    }

    max-width: 100%;
    padding: 120px 60px;
  }
}

.best-offers {
  &__title {
    text-align: left !important;
  }

  .swiper {
    overflow: visible;
    margin-top: 35px;

    &-slide {
      picture {
        @include breakpoint($breakpoint-laptop) {
          width: auto;
          height: 350px;
        }
        @include breakpoint($breakpoint-notebook) {
          width: auto;
          height: 250px;
        }
        @include breakpoint($breakpoint-mobile) {
          width: auto;
          height: auto;
        }
        @include breakpoint($breakpoint-mobile) {
          width: auto;
          height: auto;
        }

        overflow: hidden;
        width: auto;
        height: 434px;

        transition: 0.6s ease;

        img {
          transition: 0.6s ease;
        }
      }

      &__link {
        &:hover {
          picture > img {
            // filter: grayscale(90%);

            transform: scale(1.2);

            // filter: brightness(140%);
          }
        }
      }

      &__marks {
        @include breakpoint($breakpoint-mobile) {
          // font-size: 11px;
        }

        position: absolute;
        top: 20px;
        right: 27px;
        display: flex;
        gap: 11px;
        color: $color-text__white;
      }

      &__recomend {
        padding: 5px 11px;
        border-radius: 3px;
        background: rgba(222, 194, 154, 1);
      }

      &__super {
        padding: 5px 11px;
        border-radius: 3px;
        // background: rgba(225, 171, 130, 1);

        background: rgba(220, 163, 148, 1);

      }

      &__hit {
        padding: 5px 11px;
        border-radius: 3px;
        // background: rgba(217, 161, 147, 1);

        background: rgba(200, 176, 176, 1);

      }

      &__info {
        ul {
          margin-top: 18px;
          padding-left: 20px;
          color: $link-hover-color;
          list-style: none;
          font-size: 15px;
          line-height: 18.29px;

          li {
            span {
              position: relative;

              &::before {
                content: "";
                position: absolute;
                top: 5px;
                left: -20px;
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background:  $link-hover-color;
              }
            }
          }
        }
      }

      &__title {
        @include breakpoint($breakpoint-mobile) {
          font-weight: 600;
          font-size: 16px;
        }

        padding: 9px 0 18px;
        font-weight: 600;
        font-size: 17px;
        line-height: 20.72px;
      }

      &__price {
        font-weight: 600;
        font-size: 15px;
        line-height: 18.29px;

        span {
          font-size: 23px;
          line-height: 28.04px;
        }
      }
    }

    .swiper-pagination {
      position: relative;
      margin-top: 43px;

      &-bullet {
        width: 41px;
        height: 5px;
        border-radius: 0;
        background: rgba(235, 235, 235, 1);
        opacity: 1;

        &-active {
          // background: rgba(154, 154, 154, 1);

          background: rgba(217, 161, 147, 1);
        }
      }
    }
  }
}
