#best-offers {
  .container {
    max-width: 100%;
    padding: 80px 60px;
  }
}

.best-offers {
  .swiper {
    margin-top: 35px;

    &-slide {
      picture {
        height: 387px;
        transition: $transition-time ease;
      }

      &__link {
        &:hover {
          picture {
            filter: grayscale(90%);

            // filter: brightness(140%);
          }
        }
      }

      &__marks {
        position: absolute;
        top: 14px;
        right: 15px;
        display: flex;
        gap: 11px;
      }

      &__recomend {
        padding: 5px 11px;
        border-radius: 3px;
        background: rgba(222, 194, 154, 1);
      }

      &__super {
        padding: 5px 11px;
        border-radius: 3px;
        background: rgba(225, 171, 130, 1);
      }

      &__hit {
        padding: 5px 11px;
        border-radius: 3px;
        background: rgba(217, 161, 147, 1);
      }

      &__info {
        ul {
          margin-top: 18px;
          padding-left: 20px;
          color: $link-hover-color;
          list-style: disc;
          font-size: 15px;
          line-height: 18.29px;
        }
      }

      &__title {
        padding: 9px 0 18px;
        font-weight: 600;
        font-size: 17px;
        line-height: 20.72px;
      }

      &__price {
        font-weight: 600;
        font-size: 15px;
        line-height: 18.29px;

        span {
          font-size: 23px;
          line-height: 28.04px;
        }
      }
    }

    .swiper-pagination {
      position: relative;
      margin-top: 43px;

      &-bullet {
        width: 41px;
        height: 5px;
        border-radius: 0;
        background: rgba(235, 235, 235, 1);
        opacity: 1;

        &-active {
          background: rgba(154, 154, 154, 1);
        }
      }
    }
  }
}
