#brands {
  .container {
    @include breakpoint($breakpoint-notebook) {
      padding: 0 30px;
    }
    @include breakpoint($breakpoint-tablet-big) {
      padding: 0 20px;
    }

    max-width: 100%;
    padding: 0 60px;
  }
}

.brands {
  .swiper {
    &-slide {
      @include breakpoint($breakpoint-notebook) {
        height: 154px;
      }
      @include breakpoint($breakpoint-mobile) {
        height: 70px;
      }

      height: 170px;
      border: 1px solid rgba(217, 217, 217, 1);
      border-radius: 3px;

      &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        transition: $transition-time ease;

        picture {
          @include breakpoint($breakpoint-mobile) {
            width: auto;
            height: auto;
          }

          max-height: 100%;
          opacity: 0.5;
          filter: grayscale(100%);
          transition: $transition-time ease;

          & > img {
            @include breakpoint($breakpoint-notebook) {
              max-height: 150px;
            }
            @include breakpoint($breakpoint-mobile) {
              max-height: 65px;
            }

            max-height: 165px;
          }
        }

        &:hover {
          picture {
            opacity: 1;
            // filter: none;
          }
        }
      }
    }

    &-pagination {
      position: relative;
      margin-top: 43px;

      &-bullet {
        width: 41px;
        height: 5px;
        border-radius: 0;
        background: rgba(235, 235, 235, 1);
        opacity: 1;

        &-active {
          background: rgba(154, 154, 154, 1);
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: var(--swiper-navigation-top-offset, 50%);
    color: $palette-black;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 24px;
  }
}
