#catalog {
  .container {
    @include breakpoint($breakpoint-tablet) {
      padding: 25px 0 25px 15px;
    }

    max-width: calc(100% - 15px);
    margin: 0;
    padding: 60px 0;

    &.swiper {
      @include breakpoint($breakpoint-tablet) {
        display: none;
      }
    }
  }

  .catalog__mobile {
    @include breakpoint($breakpoint-tablet) {
      display: block;
    }

    display: none;

    .button-primary {
      display: flex;
      justify-content: center;
    }
  }

  .catalog {
    &__wrapper {
      @include breakpoint($breakpoint-tablet) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0;
      }

      // display: grid;
      // grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

      // display: flex;
      // flex-wrap: wrap;
      // gap: 40px;
      // justify-content: center;

      &:not(:last-child) {
        // border-bottom: 1px solid rgba(232, 232, 232, 1);
      }
    }

    &__item {
      @include breakpoint($breakpoint-tablet) {
        justify-content: left;
        max-width: inherit;
        padding-left: 20px;

        &:not(:last-child) {
          // padding-bottom: 20px;

          border-bottom: 1px solid rgba(232, 232, 232, 1);
        }

        &:not(:first-child) {
          padding-top: 20px;
        }
      }

      // max-width: 120px;

      display: grid;
      justify-content: center;
      padding-bottom: 20px;
    }

    &__link {
      @include breakpoint($breakpoint-tablet) {
        // flex-direction: row;
        // gap: 50px;
        // justify-content: flex-start;

        grid-template-columns: 55px 1fr;
        gap: 50px;
        max-width: max-content;
      }

      // display: flex;
      // flex-direction: column;
      // gap: 21px;

      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      max-width: 190px;
      // align-items: center;
      // justify-items: center;

      transition: 4s ease;
      place-items: center center;

      picture {
        @include breakpoint($breakpoint-tablet) {
          // flex: none;
          // width: 45px;

          display: flex;
          justify-content: center;
          width: auto;
          min-width: 45px;

          height: 45px;
          min-height: 45px;
          max-height: 45px;

          img {
            object-fit: contain;
            width: auto;
          }
        }

        max-width: fit-content;
        min-height: 90px;
        max-height: 91px;
        transition: $transition-time ease;
      }

      p {
        @include breakpoint($breakpoint-tablet) {
          justify-self: left;
          font-weight: 400;
          text-align: left;
          text-transform: uppercase;
        }

        font-weight: 600;
        font-size: 15px;
        line-height: 18.29px;
        text-align: center;
        transition: $transition-time ease;
      }

      &:hover {
        picture {
          opacity: 0.5;

          // filter: blur(1px);
        }

        p {
          color: $link-hover-color;
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: var(--swiper-navigation-top-offset, 40%);
    color: $palette-black;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 24px;
  }
}
