<!-- <div class="catalog-menu">
  <ul class="">
    <li class="catalog-menu__item active"><a href="#" class="link">Идеи для подарков</a>
      <ul class="catalog-menu__nav">
        <li><a href="#" class="link">Комплект постельного белья</a></li>
        <li class="">
          <a href="#" class="link catalog-menu__title">Простыни</a>
          <ul class="">
            <li><a href="#" class="link">Простыни без резинки</a></li>
            <li><a href="#" class="link">Простыни на резинке</a></li>
            <li><a href="#" class="link">Простыни без резинки</a></li>
            <li><a href="#" class="link">Простыни на резинке</a></li>
          </ul>
        </li>
        <li><a href="#" class="link">Постельное бельё премиум</a></li>
        <li><a href="#" class="link">Постельное белье</a></li>
        <li><a href="#" class="link">Постельное бельё сатин</a></li>
        <li><a href="#" class="link">Постельное бельё премиум</a></li>
        <li><a href="#" class="link">Постельное белье</a></li>
      </ul>
    </li>
    <li class="catalog-menu__item"><a href="#" class="link">Новинки</a>
      <ul class="catalog-menu__nav">
        <li><a href="#" class="link catalog-menu__title">Простыни</a>
          <ul class="">
            <li><a href="#" class="link">Простыни без резинки</a></li>
            <li><a href="#" class="link">Простыни на резинке</a></li>
            <li><a href="#" class="link">Простыни без резинки</a></li>
            <li><a href="#" class="link">Простыни на резинке</a></li>
          </ul>
        </li>
        <li><a href="#" class="link">Простыни без резинки</a></li>
        <li><a href="#" class="link">Простыни на резинке</a></li>
      </ul>
    </li>
    <li class="catalog-menu__item"><a href="#" class="link">Распродажа</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Подарочные сертификаты</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Конструктор постельного белья</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Постельное белье</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Аксессуары для дома</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Халаты</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Домашняя одежда</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Одеяла и подушки</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Покрывала и пледы</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Для ванной</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Для кухни</a></li>
  </ul>
</div> -->
<!-- /.catalog-menu -->

<div class="catalog-menu">
  <ul class="">

    <li class="catalog-menu__item">
      <a href="/catalog/novyy-god/" class="link">Новый год</a>
      <ul class="catalog-menu__nav">

        <li><a href="/catalog/novyy-god/novogodnie-polotentsa-dlya-kukhni/" class="link">Новогодние полотенца для
            кухни</a></li>

        <li><a href="/catalog/novyy-god/novogodnie-skaterti-i-salfetki/" class="link">Новогодние скатерти и салфетки</a>
        </li>

        <li><a href="/catalog/novyy-god/tovary-v-podarochnykh-upakovkakh/" class="link catalog-menu__title">Товары в
            подарочных упаковках</a>
          <ul class="">

            <li><a href="/catalog/novyy-god/tovary-v-podarochnykh-upakovkakh/diffuzory-aromaticheskie_1/"
                class="link">Диффузоры ароматические</a></li>

            <li><a href="/catalog/novyy-god/tovary-v-podarochnykh-upakovkakh/nabory-polotenets_1/" class="link">Наборы
                полотенец</a></li>

            <li><a href="/catalog/novyy-god/tovary-v-podarochnykh-upakovkakh/pledy-i-pokryvala/" class="link">Пледы и
                покрывала</a></li>

            <li><a href="/catalog/novyy-god/tovary-v-podarochnykh-upakovkakh/postelnoe-bele_2/" class="link">Постельное
                белье</a></li>
          </ul>
        </li>
        <li><a href="/catalog/novyy-god/teplye-khalaty-v-podarok/" class="link">Теплые халаты в подарок</a></li>
      </ul>
    </li>
    <li class="catalog-menu__item">
      <a href="/catalog/idei-podarkov/" class="link">Идеи подарков</a>
      <ul class="catalog-menu__nav">

        <li><a href="/catalog/idei-podarkov/podarok-dlya-nee/" class="link catalog-menu__title">Подарок для нее</a>
          <ul class="">

            <li><a href="/catalog/idei-podarkov/podarok-dlya-nee/diffuzory-aromaticheskie/" class="link">Диффузоры
                ароматические</a></li>

            <li><a href="/catalog/idei-podarkov/podarok-dlya-nee/sorochka/" class="link">Сорочка</a></li>

            <li><a href="/catalog/idei-podarkov/podarok-dlya-nee/postelnoe-bele-v-podarochnoy-korobke/"
                class="link">Постельное белье в подарочной коробке</a></li>

            <li><a href="/catalog/idei-podarkov/podarok-dlya-nee/khalat/" class="link">Халат</a></li>
          </ul>
        </li>
        <li><a href="/catalog/idei-podarkov/podarok-muzhchine/" class="link catalog-menu__title">Подарок мужчине</a>
          <ul class="">

            <li><a href="/catalog/idei-podarkov/podarok-muzhchine/muzhskie-pizhamy-i-kostyumy/" class="link">Мужские
                пижамы и костюмы</a></li>

            <li><a href="/catalog/idei-podarkov/podarok-muzhchine/odnotonnoe-postelnoe-bele/" class="link">Однотонное
                постельное белье</a></li>

            <li><a href="/catalog/idei-podarkov/podarok-muzhchine/khalat/" class="link">Халат</a></li>
          </ul>
        </li>
        <li><a href="/catalog/idei-podarkov/tovary-v-podarochnoy-upakovke/" class="link catalog-menu__title">Товары в
            подарочной упаковке</a>
          <ul class="">

            <li><a href="/catalog/idei-podarkov/tovary-v-podarochnoy-upakovke/diffuzory-aromaticheskie/"
                class="link">Диффузоры ароматические</a></li>

            <li><a href="/catalog/idei-podarkov/tovary-v-podarochnoy-upakovke/nabory-kukhonnykh-polotenets/"
                class="link">Наборы кухонных полотенец</a></li>

            <li><a href="/catalog/idei-podarkov/tovary-v-podarochnoy-upakovke/nabory-polotenets-dlya-vannoy/"
                class="link">Наборы полотенец для ванной</a></li>

            <li><a href="/catalog/idei-podarkov/tovary-v-podarochnoy-upakovke/postelnoe-bele/" class="link">Постельное
                белье</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="catalog-menu__item"><a href="/catalog/novinki/" class="link">Новинки</a></li>

    <li class="catalog-menu__item">
      <a href="/catalog/rasprodazha/" class="link">Распродажа</a>
      <ul class="catalog-menu__nav">

        <li><a href="/catalog/rasprodazha/postelnoe-bele-rasprodazha/" class="link">Постельное белье</a></li>

        <li><a href="/catalog/rasprodazha/domashnyaya-odezhda-rasprodazha/" class="link">Домашняя одежда</a></li>

        <li><a href="/catalog/rasprodazha/polotentsa/" class="link">Полотенца</a></li>
      </ul>
    </li>
    <li class="catalog-menu__item">
      <a href="/catalog/konstruktor-postelnogo-belya/" class="link">Конструктор постельного белья</a>
      <ul class="catalog-menu__nav">

        <li><a href="/catalog/konstruktor-postelnogo-belya/pododeyalnik-stroki/" class="link">Пододеяльник STROKI</a>
        </li>

        <li class=""><a href="/catalog/konstruktor-postelnogo-belya/navolochki-stroki/" class="link">Наволочки
            STROKI</a></li>

        <li class=""><a href="/catalog/konstruktor-postelnogo-belya/prostynya-stroki-bez-rezinki/" class="link">Простыня
            STROKI без резинки</a></li>

        <li class=""><a href="/catalog/konstruktor-postelnogo-belya/prostynya-na-rezinke-stroki/" class="link">Простыня
            на резинке STROKI</a></li>
      </ul>
    </li>
    <li class="catalog-menu__item">
      <a href="/catalog/dlya-spalni-postelnoe-bele/" class="link">Постельное белье</a>
      <ul class="catalog-menu__nav">

        <li><a href="/catalog/dlya-spalni-postelnoe-bele/postelnoe-bele/" class="link catalog-menu__title">Комплекты
            постельного белья</a>
          <ul class="">

            <li><a href="/catalog/dlya-spalni-postelnoe-bele/postelnoe-bele/postelnoe-bele-satin/"
                class="link">Постельное белье сатин</a></li>

            <li><a href="/catalog/dlya-spalni-postelnoe-bele/postelnoe-bele/postelnoe-bele-premium/"
                class="link">Постельное белье премиум</a></li>

            <li><a href="/catalog/dlya-spalni-postelnoe-bele/postelnoe-bele/postelnoe-bele-turtsiya/"
                class="link">Постельное белье Турция</a></li>

            <li><a href="/catalog/dlya-spalni-postelnoe-bele/postelnoe-bele/postelnoe-bele-khlopok/"
                class="link">Постельное белье хлопок</a></li>

            <li><a href="/catalog/dlya-spalni-postelnoe-bele/postelnoe-bele/postelnoe-s-prostyney-na-rezinke/"
                class="link">Постельное с простыней на резинке</a></li>

            <li><a href="/catalog/dlya-spalni-postelnoe-bele/postelnoe-bele/odnotonnoe-postelnoe-bele/"
                class="link">Однотонное постельное белье</a></li>

            <li><a href="/catalog/dlya-spalni-postelnoe-bele/postelnoe-bele/satin-lyuks/" class="link">Сатин люкс</a>
            </li>

            <li><a href="/catalog/dlya-spalni-postelnoe-bele/postelnoe-bele/beloe-postelnoe-bele/" class="link">Белое
                постельное белье</a></li>

            <li><a href="/catalog/dlya-spalni-postelnoe-bele/postelnoe-bele/postelnoe-bele-zhakkard/"
                class="link">Постельное белье жаккард</a></li>

            <li><a href="/catalog/dlya-spalni-postelnoe-bele/postelnoe-bele/mako-satin/" class="link">Мако-сатин</a>
            </li>
          </ul>
        </li>
        <li><a href="/catalog/dlya-spalni-postelnoe-bele/prostyni/" class="link catalog-menu__title">Простыни</a>
          <ul class="">

            <li><a href="/catalog/dlya-spalni-postelnoe-bele/prostyni/prostyn-na-rezinke/" class="link">Простынь на
                резинке</a></li>

            <li><a href="/catalog/dlya-spalni-postelnoe-bele/prostyni/prostyni-bez-rezinki/" class="link">Простынь без
                резинки</a></li>

            <li><a href="/catalog/dlya-spalni-postelnoe-bele/prostyni/prostyni-satinovye/" class="link">Простынь
                сатин</a></li>
          </ul>
        </li>
        <li><a href="/catalog/dlya-spalni-postelnoe-bele/navolochki/" class="link">Наволочки</a></li>

        <li><a href="/catalog/dlya-spalni-postelnoe-bele/pododeyalniki/" class="link">Пододеяльники</a></li>
      </ul>
    </li>
    <li class="catalog-menu__item">
      <a href="/catalog/odezhda-dlya-doma/" class="link">Домашняя одежда</a>
      <ul class="catalog-menu__nav">

        <li class=""><a href="/catalog/odezhda-dlya-doma/pizhamy/" class="link catalog-menu__title">Пижамы</a>
          <ul class="">

            <li><a href="/catalog/odezhda-dlya-doma/pizhamy/zhenskie-pizhamy/" class="link">Женские пижамы</a></li>

            <li><a href="/catalog/odezhda-dlya-doma/pizhamy/muzhskie-pizhamy/" class="link">Мужские пижамы</a></li>
          </ul>
        </li>
        <li class=""><a href="/catalog/odezhda-dlya-doma/zhenskaya-odezhda-dlya-doma/"
            class="link catalog-menu__title">Женская домашняя одежда</a>
          <ul class="">

            <li><a href="/catalog/odezhda-dlya-doma/zhenskaya-odezhda-dlya-doma/sorochki/" class="link">Женские
                сорочки</a></li>

            <li><a href="/catalog/odezhda-dlya-doma/zhenskaya-odezhda-dlya-doma/zhenskie-kostyumy-dlya-doma/"
                class="link">Женские домашние костюмы</a></li>

            <li><a href="/catalog/odezhda-dlya-doma/zhenskaya-odezhda-dlya-doma/domashnie-platya-i-tuniki/"
                class="link">Домашние платья и туники</a></li>

            <li><a href="/catalog/odezhda-dlya-doma/zhenskaya-odezhda-dlya-doma/bryuki-zhenskie/" class="link">Женские
                брюки домашние</a></li>

            <li><a href="/catalog/odezhda-dlya-doma/zhenskaya-odezhda-dlya-doma/maski-dlya-sna/" class="link">Маски для
                сна</a></li>

            <li><a href="/catalog/odezhda-dlya-doma/zhenskaya-odezhda-dlya-doma/domashnie-pizhamy-dlya-zhenshchin/"
                class="link">Домашние пижамы для женщин</a></li>

            <li><a href="/catalog/odezhda-dlya-doma/zhenskaya-odezhda-dlya-doma/povyazki-dlya-volos/"
                class="link">Повязки для волос</a></li>

            <li><a href="/catalog/odezhda-dlya-doma/zhenskaya-odezhda-dlya-doma/svitshoty/" class="link">Свитшоты</a>
            </li>
          </ul>
        </li>
        <li class=""><a href="/catalog/odezhda-dlya-doma/muzhskaya-odezhda-dlya-doma/"
            class="link catalog-menu__title">Мужская домашняя одежда</a>
          <ul class="">

            <li><a href="/catalog/odezhda-dlya-doma/muzhskaya-odezhda-dlya-doma/muzhskie-bryuki-i-shorty-domashnie/"
                class="link">Мужские брюки и шорты домашние</a></li>

            <li><a href="/catalog/odezhda-dlya-doma/muzhskaya-odezhda-dlya-doma/muzhskie-kostyumy-dlya-doma/"
                class="link">Мужские костюмы для дома</a></li>

            <li><a href="/catalog/odezhda-dlya-doma/muzhskaya-odezhda-dlya-doma/pizhamy-dlya-muzhchin/"
                class="link">Пижамы для мужчин</a></li>
          </ul>
        </li>
        <li class=""><a href="/catalog/odezhda-dlya-doma/tapochki/" class="link catalog-menu__title">Домашние
            тапочки</a>
          <ul class="">

            <li><a href="/catalog/odezhda-dlya-doma/tapochki/zhenskie-domashnie-tapochki/" class="link">Женские домашние
                тапочки</a></li>

            <li><a href="/catalog/odezhda-dlya-doma/tapochki/muzhskie-domashnie-tapochki/" class="link">Мужские домашние
                тапочки</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="catalog-menu__item active">
      <a href="/catalog/khalaty/" class="link">Халаты</a>
      <ul class="catalog-menu__nav">

        <li class="active"><a href="/catalog/khalaty/khalaty-zhenskie/" class="link catalog-menu__title">Халаты
            женские</a>
          <ul class="">

            <li><a href="/catalog/khalaty/khalaty-zhenskie/khalat-makhrovyy-zhenskiy/" class="link">Халат махровый
                женский</a></li>

            <li><a href="/catalog/khalaty/khalaty-zhenskie/zhenskiy-khalat-s-kapyushonom/" class="link">Женский халат с
                капюшоном</a></li>

            <li><a href="/catalog/khalaty/khalaty-zhenskie/khalat-zhenskiy-khlopok/" class="link">Халат женский
                хлопок</a></li>

            <li><a href="/catalog/khalaty/khalaty-zhenskie/bannyy-khalat-zhenskiy/" class="link">Банный халат
                женский</a></li>

            <li><a href="/catalog/khalaty/khalaty-zhenskie/vafelnyy-khalat-zhenskiy/" class="link">Вафельный халат
                женский</a></li>

            <li><a href="/catalog/khalaty/khalaty-zhenskie/teplyy-khalat-zhenskiy/" class="link">Теплый халат
                женский</a></li>

            <li><a href="/catalog/khalaty/khalaty-zhenskie/khalat-zhenskiy-velyurovyy/" class="link">Халат женский
                велюровый</a></li>

            <li><a href="/catalog/khalaty/khalaty-zhenskie/lyegkiy-zhenskiy-khalat/" class="link">Лёгкий женский
                халат</a></li>

            <li><a href="/catalog/khalaty/khalaty-zhenskie/khalat-zhenskiy-dlinnyy/" class="link">Халат женский
                длинный</a></li>

            <li><a href="/catalog/khalaty/khalaty-zhenskie/khalat-zhenskiy-turtsiya/" class="link">Халат женский
                Турция</a></li>

            <li><a href="/catalog/khalaty/khalaty-zhenskie/khalat-korotkiy-zhenskiy/" class="link">Халат короткий
                женский</a></li>

            <li><a href="/catalog/khalaty/khalaty-zhenskie/khalat-zhenskiy-s-kruzhevom/" class="link">Халат женский с
                кружевом</a></li>

            <li><a href="/catalog/khalaty/khalaty-zhenskie/khalat-s-sorochkoy-v-nabore/" class="link">Халат с сорочкой в
                наборе</a></li>
          </ul>
        </li>
        <li class=""><a href="/catalog/khalaty/khalaty-muzhskie/" class="link catalog-menu__title">Халаты мужские</a>
          <ul class="">

            <li><a href="/catalog/khalaty/khalaty-muzhskie/makhrovyy-khalat-muzhskoy/" class="link">Махровый халат
                мужской</a></li>

            <li><a href="/catalog/khalaty/khalaty-muzhskie/muzhskie-khalaty-sinego-tsveta/" class="link">Мужские халаты
                синего цвета</a></li>

            <li><a href="/catalog/khalaty/khalaty-muzhskie/muzhskoy-bannyy-khalat/" class="link">Мужской банный
                халат</a></li>

            <li><a href="/catalog/khalaty/khalaty-muzhskie/muzhskoy-khalat-s-kapyushonom/" class="link">Мужской халат с
                капюшоном</a></li>

            <li><a href="/catalog/khalaty/khalaty-muzhskie/khalat-muzhskoy-vafelnyy/" class="link">Халат мужской
                вафельный</a></li>

            <li><a href="/catalog/khalaty/khalaty-muzhskie/khalat-muzhskoy-khlopok/" class="link">Халат мужской
                хлопок</a></li>

            <li><a href="/catalog/khalaty/khalaty-muzhskie/tyeplyy-muzhskoy-khalat/" class="link">Тёплый мужской
                халат</a></li>

            <li><a href="/catalog/khalaty/khalaty-muzhskie/khalat-muzhskoy-turtsiya/" class="link">Халат мужской
                Турция</a></li>
          </ul>
        </li>
        <li class=""><a href="/catalog/khalaty/khalaty-detskie/" class="link catalog-menu__title">Детские халаты</a>
          <ul class="">

            <li><a href="/catalog/khalaty/khalaty-detskie/detskie-makhrovye-khalaty/" class="link">Детские махровые
                халаты</a></li>

            <li><a href="/catalog/khalaty/khalaty-detskie/detskie-khalaty-s-kapyushonom/" class="link">Детские халаты с
                капюшоном</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="catalog-menu__item">
      <a href="/catalog/pokryvala-i-pledy-rasprodaza/" class="link">Покрывала и пледы</a>
      <ul class="catalog-menu__nav">

        <li><a href="/catalog/pokryvala-i-pledy-rasprodaza/pokryvala/" class="link catalog-menu__title">Покрывала</a>
          <ul class="">

            <li><a href="/catalog/pokryvala-i-pledy-rasprodaza/pokryvala/velyurovoe-pokryvalo/" class="link">Велюровое
                покрывало</a></li>

            <li><a href="/catalog/pokryvala-i-pledy-rasprodaza/pokryvala/zhakkardovoe-pokryvalo/"
                class="link">Жаккардовое покрывало</a></li>

            <li><a href="/catalog/pokryvala-i-pledy-rasprodaza/pokryvala/pokryvalo-s-navolochkami/"
                class="link">Покрывало с наволочками</a></li>

            <li><a href="/catalog/pokryvala-i-pledy-rasprodaza/pokryvala/stegannye-pokryvala/" class="link">Стеганое
                покрывало</a></li>

            <li><a href="/catalog/pokryvala-i-pledy-rasprodaza/pokryvala/tonkoe-pokryvalo/" class="link">Тонкое
                покрывало</a></li>

            <li><a href="/catalog/pokryvala-i-pledy-rasprodaza/pokryvala/khlopkovye-pokryvala/" class="link">Хлопковое
                покрывало</a></li>
          </ul>
        </li>
        <li><a href="/catalog/pokryvala-i-pledy-rasprodaza/pledy/" class="link catalog-menu__title">Пледы</a>
          <ul class="">

            <li><a href="/catalog/pokryvala-i-pledy-rasprodaza/pledy/myagkiy-pled/" class="link">Мягкий плед</a></li>

            <li><a href="/catalog/pokryvala-i-pledy-rasprodaza/pledy/plyushevyy-pled/" class="link">Плюшевый плед</a>
            </li>

            <li><a href="/catalog/pokryvala-i-pledy-rasprodaza/pledy/khlopkovye-pledy/" class="link">Хлопковый плед</a>
            </li>

            <li><a href="/catalog/pokryvala-i-pledy-rasprodaza/pledy/sherstyanye-pledy/" class="link">Шерстяной плед</a>
            </li>

            <li><a href="/catalog/pokryvala-i-pledy-rasprodaza/pledy/vyazanyy-pled/" class="link">Вязаный плед</a></li>

            <li><a href="/catalog/pokryvala-i-pledy-rasprodaza/pledy/mekhovoy-pled/" class="link">Меховой плед</a></li>
          </ul>
        </li>
        <li><a href="/catalog/pokryvala-i-pledy-rasprodaza/dekorativnye-podushki-i-navolochki/"
            class="link">Декоративные подушки и наволочки</a></li>
      </ul>
    </li>
    <li class="catalog-menu__item">
      <a href="/catalog/dlya-vannoy/" class="link">Для ванной</a>
      <ul class="catalog-menu__nav">

        <li><a href="/catalog/dlya-vannoy/polotentsa-poshtuchno/" class="link catalog-menu__title">Полотенца</a>
          <ul class="">

            <li><a href="/catalog/dlya-vannoy/polotentsa-poshtuchno/polotentsa-buddemeyer-braziliya/"
                class="link">Полотенца Buddemeyer Бразилия </a></li>

            <li><a href="/catalog/dlya-vannoy/polotentsa-poshtuchno/makhrovye-polotentsa/" class="link">Махровые
                полотенца</a></li>

            <li><a href="/catalog/dlya-vannoy/polotentsa-poshtuchno/polotentsa-turtsiya/" class="link">Полотенца
                Турция</a></li>

            <li><a href="/catalog/dlya-vannoy/polotentsa-poshtuchno/pushistye-polotentsa/" class="link">Пушистые
                полотенца</a></li>

            <li><a href="/catalog/dlya-vannoy/polotentsa-poshtuchno/vafelnye-polotentsa/" class="link">Вафельные
                полотенца</a></li>
          </ul>
        </li>
        <li><a href="/catalog/dlya-vannoy/nabory-polotenets/" class="link">Наборы полотенец</a></li>

        <li><a href="/catalog/dlya-vannoy/kovriki-dlya-nog/" class="link">Коврики для ног</a></li>

        <li><a href="/catalog/dlya-vannoy/nabory-dlya-sauny/" class="link catalog-menu__title">Наборы для сауны</a>
          <ul class="">

            <li><a href="/catalog/dlya-vannoy/nabory-dlya-sauny/zhenskie-nabory-dlya-sauny/" class="link">Женские наборы
                для сауны</a></li>

            <li><a href="/catalog/dlya-vannoy/nabory-dlya-sauny/muzhskie-nabory-dlya-sauny/" class="link">Мужские наборы
                для сауны</a></li>
          </ul>
        </li>
        <li><a href="/catalog/dlya-vannoy/mylo/" class="link">Мыло</a></li>

        <li><a href="/catalog/dlya-vannoy/aksessuary-dlya-vannoy/" class="link">Аксессуары</a></li>
      </ul>
    </li>
    <li class="catalog-menu__item">
      <a href="/catalog/dlya-kukhni/" class="link">Для кухни</a>
      <ul class="catalog-menu__nav">

        <li><a href="/catalog/dlya-kukhni/posuda/" class="link">Посуда</a></li>

        <li><a href="/catalog/dlya-kukhni/polotentsa-dlya-kukhni/" class="link catalog-menu__title">Полотенца для
            кухни</a>
          <ul class="">

            <li><a href="/catalog/dlya-kukhni/polotentsa-dlya-kukhni/mahrovye-polotentsa/" class="link">Махровые
                полотенца</a></li>

            <li><a href="/catalog/dlya-kukhni/polotentsa-dlya-kukhni/vafelnye/" class="link">Вафельные полотенца</a>
            </li>

            <li><a href="/catalog/dlya-kukhni/polotentsa-dlya-kukhni/nabory/" class="link">Наборы полотенец для
                кухни</a></li>
          </ul>
        </li>
        <li><a href="/catalog/dlya-kukhni/dekorativnye-salfetki/" class="link catalog-menu__title">Декоративные
            салфетки</a>
          <ul class="">

            <li><a href="/catalog/dlya-kukhni/dekorativnye-salfetki/pod-tarelku/" class="link">Салфетки под тарелку</a>
            </li>
          </ul>
        </li>
        <li><a href="/catalog/dlya-kukhni/skaterti/" class="link catalog-menu__title">Скатерти</a>
          <ul class="">

            <li><a href="/catalog/dlya-kukhni/skaterti/pryamougolnye-skaterti/" class="link">Прямоугольные скатерти</a>
            </li>

            <li><a href="/catalog/dlya-kukhni/skaterti/kruglye-skaterti/" class="link">Круглые скатерти</a></li>

            <li><a href="/catalog/dlya-kukhni/skaterti/ovalnye-skaterti/" class="link">Овальные скатерти</a></li>

            <li><a href="/catalog/dlya-kukhni/skaterti/gobelen/" class="link">Гобеленовые скатерти</a></li>

            <li><a href="/catalog/dlya-kukhni/skaterti/bolshie/" class="link">Большие скатерти</a></li>
          </ul>
        </li>
        <li><a href="/catalog/dlya-kukhni/fartuki/" class="link">Фартуки</a></li>

        <li><a href="/catalog/dlya-kukhni/nabory-polotenets-dlya-kukhni/" class="link">Наборы полотенец для кухни</a>
        </li>
      </ul>
    </li>
    <li class="catalog-menu__item">
      <a href="/catalog/aksessuary-dlya-doma/" class="link">Аксессуары для дома</a>
      <ul class="catalog-menu__nav">

        <li><a href="/catalog/aksessuary-dlya-doma/aromaticheskie-diffuzory/" class="link">Ароматические диффузоры</a>
        </li>

        <li><a href="/catalog/aksessuary-dlya-doma/stoppery-i-igrushki/" class="link">Стопперы и игрушки</a></li>

        <li><a href="/catalog/aksessuary-dlya-doma/sashe-aromaticheskie/" class="link">Саше ароматические</a></li>

        <li><a href="/catalog/aksessuary-dlya-doma/oformlenie-interera/" class="link">Оформление интерьера</a></li>

        <li><a href="/catalog/aksessuary-dlya-doma/svechi/" class="link">Свечи</a></li>
      </ul>
    </li>
    <li class="catalog-menu__item">
      <a href="/catalog/odeyala-i-podushki/" class="link">Одеяла и подушки</a>
      <ul class="catalog-menu__nav">

        <li><a href="/catalog/odeyala-i-podushki/odeyala/" class="link">Одеяла</a></li>

        <li><a href="/catalog/odeyala-i-podushki/podushki-dlya-sna/" class="link">Подушки для сна</a></li>
      </ul>
    </li>
    <li class="catalog-menu__item"><a href="/catalog/podarochnye-sertifikaty/" class="link">Подарочные сертификаты</a>
    </li>
  </ul>
</div>