<div class="catalog-menu">
  <ul class="">
    <li class="catalog-menu__item active"><a href="#" class="link">Идеи для подарков</a>
      <ul class="catalog-menu__nav">
          <li><a href="#" class="link">Комплект постельного белья</a></li>
          <li class="">
            <a href="#" class="link catalog-menu__title">Простыни</a>
              <ul class="">
                  <li><a href="#" class="link">Простыни без резинки</a></li>
                  <li><a href="#" class="link">Простыни на резинке</a></li>
                  <li><a href="#" class="link">Простыни без резинки</a></li>
                  <li><a href="#" class="link">Простыни на резинке</a></li>
                </ul>
          </li>
          <li><a href="#" class="link">Постельное бельё премиум</a></li>
          <li><a href="#" class="link">Постельное белье</a></li>
          <li><a href="#" class="link">Постельное бельё сатин</a></li>
          <li><a href="#" class="link">Постельное бельё премиум</a></li>
          <li><a href="#" class="link">Постельное белье</a></li>
      </ul>
    </li>
    <li class="catalog-menu__item"><a href="#" class="link">Новинки</a>
      <ul class="catalog-menu__nav">
        <li><a href="#" class="link catalog-menu__title">Простыни</a>
          <ul class="">
            <li><a href="#" class="link">Простыни без резинки</a></li>
            <li><a href="#" class="link">Простыни на резинке</a></li>
            <li><a href="#" class="link">Простыни без резинки</a></li>
            <li><a href="#" class="link">Простыни на резинке</a></li>
          </ul>
        </li>
        <li><a href="#" class="link">Простыни без резинки</a></li>
        <li><a href="#" class="link">Простыни на резинке</a></li>
      </ul>
    </li>
    <li class="catalog-menu__item"><a href="#" class="link">Распродажа</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Подарочные сертификаты</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Конструктор постельного белья</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Постельное белье</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Аксессуары для дома</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Халаты</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Домашняя одежда</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Одеяла и подушки</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Покрывала и пледы</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Для ванной</a></li>
    <li class="catalog-menu__item"><a href="#" class="link">Для кухни</a></li>
  </ul>
  <!-- <ul class="list">
    <li><a href="#" class="link catalog-menu__title">Комплект постельного белья</a></li>
    <li><a href="#" class="link">Постельное бельё сатин</a></li>
    <li><a href="#" class="link">Постельное бельё премиум</a></li>
    <li><a href="#" class="link">Постельное белье</a></li>
  </ul>
  <ul class="">
    <li><a href="#" class="link catalog-menu__title">Простыни</a></li>
    <li><a href="#" class="link">Простыни без резинки</a></li>
    <li><a href="#" class="link">Простыни на резинке</a></li>
  </ul> -->
</div>
<!-- /.catalog-menu -->


