<footer id="footer" class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__col footer__col--01">
        <p class="footer__title">
          О компании
        </p>
        <nav class="nav-satin nav--footer ">
          <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Магазины</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Отзывы</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Вакансии</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Бренды</a></li>
          </ul>
        </nav>
      </div>
      <!-- /.footer__about -->
      <div class="footer__col footer__col--02">
        <p class="footer__title">
          информация
        </p>
        <nav class="nav-satin nav--footer">
          <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Статьи</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Оплата и доставка</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Обмен и возврат</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Бонусная программа</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Акции</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Карта сайта</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Подарочный сертификат</a></li>
          </ul>
        </nav>
      </div>
      <!-- /.footer__info -->
      <div class="footer__col footer__col--03">
        <p class="footer__title">
          Помощь
        </p>
        <nav class="nav-satin nav--footer">
          <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Как сделать заказ</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Публичная оферта</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Правила продажи</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Вопрос-ответ</a></li>
          </ul>
        </nav>
      </div>
      <!-- /.footer__help -->
      <div class="footer__col footer__col--04">
        <p class="footer__title">
          Категории
        </p>
        <nav class="nav-satin nav--footer">
          <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Конструктор постельного белья</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Постельное белье</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Домашняя одежда</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Халаты</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Покрывала и пледы</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Одеяла и подушки</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Для ванны</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Для кухни</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Аксессуары для дома</a></li>
          </ul>
        </nav>
      </div>
      <!-- /.footer__categories -->
      <div class="footer__col">
        <nav class="nav-satin nav--footer">
          <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Поиск</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Карта портала</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Помощь</a></li>
          </ul>
        </nav>
        <div class="footer__contacts">
          <a href="tel:88007004291" class="footer__link">8 (800) 700-42-91</a>
          <a href="maito:sale@satindalen.ru" class="footer__link">sale@satindalen.ru</a>
          <span>г. Санкт-Петербург,<br>ул. Типанова27/39</span>
          <span class="footer__tg">Свяжитесь с нами: <a href="#" class="logo" target="_blank"><img
                src="assets/images/global/telegram.png" alt=""></a></span>
        </div>
        <!-- /.footer__contacts -->
      </div>
      <!-- /.footer__contacts -->
      <div class="footer__right">
        <div class="footer__pays">
          <i title="Cash" class="footer__pays--cash"></i>
          <i title="MasterCard" class="footer__pays--mastercard"></i>
          <i title="Visa" class="footer__pays--visa"></i>
          <i title="Mir" class="footer__pays--mir"></i>
          <i title="Maestro" class="footer__pays--maestro"></i>
          <i title="Paykeeper" class="footer__pays--paykeeper"></i>
        </div>
        <!-- /.footer__pays -->
        <div class="footer__subscription">
          <span>Подписаться на рассылку</span>
          <form action="#" class="">
            <div class="input-mail">
              <input type="email" placeholder="Введите e-mail">
              <button type="submit" class="logo">
                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M1.75 3.3425L3.115 2.625L26.25 13.0357V14.6982L3.115 25.0775L1.75 24.3425L4.52025 14L1.75 3.3425ZM6.321 14.875L4.0775 22.9775L23.625 13.825L4.0775 4.96825L6.321 13.0183L15.75 13.125V14.875H6.321Z"
                    fill="#D2D2D2" />
                </svg>
              </button>
            </div>

          </form>
        </div>
        <!-- /.footer__subscription -->

        <div class="footer__copyright">
          <p>
            2024 © Одежда для дома | Домашний текстиль «Сатин да Лён»
          </p>
          <p>
            Создание сайта - <a href="https://artfactor.ru" target="_blank">АртФактор</a>
          </p>
        </div>
        <!-- /.footer__copyryght -->
      </div>
      <!-- /.footer__right -->

    </div>
    <!-- /.footer__wrapper -->
  </div>
  <!-- /.container -->

</footer>